---
layout: default
---
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-2   mt-xl-5 mt-lg-5 mt-md-5 mt-sm-5 text-right   d-none d-sm-block"><br>
      <div class="mt-xl-5 mt-lg-5 mt-md-5 mt-sm-5 mt-xs-5"></div>
      <div class="mt-xl-5 mt-lg-5 mt-md-3 mt-sm-5 mt-xs-5"><i class="fab fa-facebook fa-2x"></i></div>
      <div class="mt-xl-5 mt-lg-5 mt-md-4 mt-sm-4 mt-xs-5"><i class="fab fa-twitter fa-2x"></i></div>
      <div class="mt-xl-5 mt-lg-5 mt-md-4 mt-sm-4 mt-xs-5"><i class="fab fa-google fa-2x"></i></div>
      <div class="mt-xl-5 mt-lg-5 mt-md-4 mt-sm-4 mt-xs-5"><i class="fas fa-envelope fa-2x"></i></div>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10 col-xs-9">
      <h3 style="font-family: 'Asap', sans-serif;" class="font-weight-bold mb-1">{{ page.title }}</h3>
      <p class="card-text text-muted pb-2 font-small-caps">&nbsp;<i class="far fa-calendar-alt"></i> {{ page.waktu }}
        &nbsp;&nbsp; <i class="fas fa-user-tie"></i> {{page.penulis}}</p>
      <figure class="figure">
        <img src="{{ page.gambar }}" class="figure-img img-fluid rounded">
      </figure>
      {{ content }}
      <br>
      {% if page.comments %}
      <div id="disqus_thread"></div>
      <script>
      var disqus_config = function () {
      this.page.url = "{{ site.url }}{{ page.url }}";  
      this.page.identifier = "{{ page.url }}"; 
      };

      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://stmik-tidore-mandiri.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Aktifkan JavaScript untuk menampilkan komentar<a href="https://disqus.com/?ref_noscript">komentar menggunakan Disqus.</a></noscript>                      
      {% endif %}
    </div>
    <div class="col-xl-3 col-lg-3 col-md-1 col-sm-1 col-xs-0">
    </div>
  </div>
</div>
<script id="dsq-count-scr" src="//stmik-tidore-mandiri.disqus.com/count.js" async></script>
<!-- END content -->