<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{site.title_a}} {{site.title_b}}</title>
  <!-- START ICON -->
  <link rel="apple-touch-icon" sizes="120x120" href="/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
  <link rel="manifest" href="/icon/site.webmanifest">
  <link rel="mask-icon" href="/icon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <!-- END ICON -->
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&effect=shadow-multiple|Asap:500" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <script src="/assets/js/jquery-3.3.1.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>

  <style>
    .garis-heading {
        display: flex;
        width: 100%;
        align-items: center;
        padding-bottom: 12px;
    }
    .garis-heading::before, .garis-heading::after {
        content: "";
        border: solid #28a745;
        border-width: .1em;
        height: .1em;
        margin: .05em;
        flex: 1;
    }
    .garis-heading::before {
        margin-right: .3em;
    }
    .garis-heading::after {
        margin-left: .3em;
    }
    .layout-tentang-judul {
        border-bottom: 3px solid #28a745;
        border-top: 3px solid #28a745;
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 12px;
    }
    .font-asap {
        font-family: Asap, sans-serif;
    }
    .font-georgia {
        font-family: Georgia, serif;
    }
    .font-merri {
        font-family: 'Merriweather Sans', sans-serif;
    }
    .li-pl {
        padding-left: 4px;
        padding-bottom: 10px;
    }
    .font-small-caps {
        font-variant: small-caps;
    }
    </style>
</head>

<body>
  <!-- START Header -->
  <header>
    <div class="container py-3 text-center">
      <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <img class="align-self-center" src="/assets/img/logo/logo.png" alt="Logo STMIK-TM">
        </div>
        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-xs-12 mx-auto pt-1 align-self-center">
          <h3 class="font-effect-shadow-multiple font-merri">Sekolah
            Tinggi Manajemen Informatika dan Komputer, Tidore Mandiri </h3>
          <p class="text-muted">Mengedepankan Kompetensi Dalam Penguasaan Teknologi Informasi dan
            Komunikasi</p>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 align-self-center">
          <a href="#"><b>ID</b></a> - <a href="#">ENG</a>
        </div>
      </div>
    </div>
  </header>
  <!-- END Header -->
  <!-- START Nav -->
  <nav class="navbar navbar-dark bg-success navbar-expand-lg justify-content-center sticky-top py-1 shadow">
    <div class="container font-weight-bold font-asap">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          {% assign nav_pages = site.html_pages | sort: 'nav_order' %}
          {% for nav in nav_pages %} {% if nav.nav_order %}
          <a class="nav-item nav-link {% if nav.url == page.url %} active {% endif %}" href="{{ nav.url }}">
            {{ nav.title }}
          </a>
          {% endif %} {% endfor %}

          <!-- <a class="nav-item nav-link active" href="/">Beranda<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link " href="/tentang">Tentang</a>
          <a class="nav-item nav-link" href="/prodi">Program Studi</a> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Layanan
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="http://simak.stmik-tm.ac.id/" target="_blank">SIMAK</a>
              <a class="dropdown-item" href="http://sicarijudul.stmik-tm.ac.id/" target="_blank">SICARI Judul</a>
              <a class="dropdown-item" href="http://elearning.stmik-tm.ac.id/" target="_blank">E-Learning</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Pendaftaran</a>
            </div>
          </li>
        </div>
      </div>
    </div>
  </nav>
  <!-- END Nav -->

  {{content}}

  <br>
  <!-- START footer -->
  <div class="bg-success pt-4 pb-4 text-white">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p class="font-weight-bold"><i class="fas fa-phone"></i> <u>HUBUNGI
              KAMI</u></p>
          <ul style="list-style:disclosure-closed">
            <li>(0921) 3161490</li>
            <li>stmik-tm.ac.id</li>
          </ul>
        </div>
        <div class="col-sm">
          <p class="font-weight-bold"><i class="fas fa-external-link-alt"></i> <u>TAUTAN PENTING</u></p>
          <ul style="list-style:disclosure-closed">
            <li><a href="https://ristekdikti.go.id/" class="text-white" target="_blank"> RISTEKDIKTI</a></li>
            <li><a href="http://lldikti12.ristekdikti.go.id/" class="text-white" target="_blank"> LLDIKTI XII</a></li>
            <li><a href="http://simlitabmas.ristekdikti.go.id/" class="text-white" target="_blank"> SIMLIBTAMAS</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <p class="font-weight-bold"><i class="fas fa-exclamation-circle"></i> <u>BANTUAN</u></p>
          <ul style="list-style:disclosure-closed">
            <li><a href="#" class="text-white">Dosen</a></li>
            <li><a href="#" class="text-white">Mahasiswa</a></li>
            <li><a href="#" class="text-white">Calon Mahasiswa</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="container">
      <div class="col-sm">
        <i class="fab fa-facebook fa-2x"></i>
        <i class="fab fa-youtube fa-2x"></i>
        <i class="fab fa-instagram fa-2x"></i><br>
        <i class="fa fa-copyright" aria-hidden="true"></i> <b>Copyleft 2018</b> | Sekolah Tinggi Manajemen Informatika
        dan
        Komputer <br>
      </div>
    </div>
  </div>
  <!-- END footer -->
</body>

</html>