---
layout: default
---
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-2   mt-xl-5 mt-lg-5 mt-md-5 mt-sm-5 text-right   d-none d-sm-block"><br>

    </div>
    <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10 col-xs-9">
      {{ content }}
    </div>
    <div class="col-xl-3 col-lg-3 col-md-1 col-sm-1 col-xs-0">
    </div>
  </div>
</div>
<script id="dsq-count-scr" src="//stmik-tidore-mandiri.disqus.com/count.js" async></script>
<!-- END content -->